RewriteEngine On

RewriteBase /


RewriteCond %{HTTPS} !=on

RewriteCond %{HTTP_HOST} ^decorticage\.fr$ [OR]

RewriteCond %{HTTP_HOST} ^www\.decorticage\.fr$

RewriteRule .* https://decorticage.fr%{REQUEST_URI} [R=301,L]





RewriteCond %{REQUEST_URI} !^/public/

RewriteRule ^(.*)$ /public/$1 [L]