<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez Votre Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
