<h2>Bonjour,</h2>

<p>
    Nous vous remercions pour votre inscription. <br>
    Veuillez confirmer votre mail en cliquant sur le lien suivant
 <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez Votre Email</a>.
    Le lien expire dans une heure
</p>

<p>
    Cordialemernt,
    LՎquipe Decorticage
</p>
